/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: linear-gradient(to bottom, #f9fafb, #d2d6db);
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.container {
  min-height: 812px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  max-width: unset !important;
}

.card {
  background-color: #ffffff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 340px;
  box-shadow: 0px 1px 2px -1px rgb(0 0 0 / 0.1), 0px 1px 3px 0 rgb(0 0 0 / 0.1);
  border-radius: 8px;
  gap: 16px;
  margin: 200px auto auto;
  
  color: #525252;
  font-size: 16px;
  line-height: 24px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 48px;
    height: 48px;
  }

  .user-text {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .username {
    color: #171717;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
  }

  .user-handle {
    font-size: 14px;
    line-height: 20px;
  }
}
